#ajax-login-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 9996; }
#ajax-loader { display: none; z-index: 9996; position: fixed; top: 50%; left: 50%; }
.ajax-load-img { display: none; }
.ajax-body-login{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    overflow: auto !important;
    z-index: 9996;
    display: none;
}
.ajax-body-login .ajax-content{
    max-height: 500px;
    overflow: auto;
}
/* Login Form */
.ajax-body-login .account-login { 
    display: none; 
    margin: 160px auto; 
    background-color: #FFFFFF; 
    opacity: 1; 
    position: relative; 
    z-index: 9996; 
    width: 400px; 
    height: auto; 
    padding: 0px;
}
.logo-login {
    background: #0091d5;
    margin: 0px;
    padding: 30px 20px;
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
#ajax-login-form{
    padding: 20px;
    background: RGBA(0, 85, 126, 0.14);
}
.ajax-body-login .account-login .ajax-content > .ajax-container {}
.ajax-content > .ajax-container .login-form-content { min-height: 20px;}
.ajax-content > .ajax-container .login-form-content { margin-right: 0 !important; }
.ajax-content > .ajax-container .login-form-content { width: 100%; }
.ajax-content > .ajax-container .form-control {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-indent: 10px;
    display: inline-block;
    width: auto;
}
.ajax-content > .ajax-container .login-form-content .alert { margin-top: 15px; margin-left: 0; }

/* Register Form */
.ajax-body-login .account-register { 
    display: none; 
    margin: 30px auto; 
    background-color: #DBE7ED; 
    opacity: 1; 
    position: relative; 
    z-index: 1200; 
    width: 700px; 
    padding: 20px;
}

.ajax-content > .ajax-container .register-form-content { min-height: 20px;}
.ajax-content > .ajax-container .alert { margin-bottom: 0; }
.ajax-content > .ajax-container .form-group { 
    margin-right: 0 !important; 
    text-align: center;
    width: 100%;
}
.ajax-content > .ajax-container .control-label {
    padding-top: 0;
    padding-right: 0 !important;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: normal;
    line-height: 34px;
    float: left;
    width: 110px;
    text-align: left;
}
.ajax-content > .ajax-container .control-label:after{
    /*content: "*";*/
    /*color: #f00;*/
    /*margin-left: 5px;*/
}
.ajax-content > .ajax-container .pull-right { margin-right: 20px; }
.ajax-content > .ajax-container .for-error { display: none; }
.ajax-container .success-content button{
    margin-bottom:20px;
}
.account-success { display: none; top: 50%; left: 50%; width: 500px; height: auto; margin-top: -150px; margin-left: -250px; background-color: #FFFFFF; opacity: 1; position: fixed; z-index: 1200; }
.account-success .ajax-content > .ajax-container { margin: 15px; }

.logout-success { 
    display: none; 
    top: 50%; 
    left: 50%; 
    width: 500px; 
    height: auto; 
    margin-top: -100px; 
    margin-left: -250px; 
    background-color: #DBE7ED; 
    opacity: 1; 
    position: fixed; 
    z-index: 1200; 
    padding: 15px;
}
.a-close-frm{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 0, 0);
}
.ajax-content .action button,.ajax-container .buttons button{
    color: #fff;
    border-color: #fff;

}
.ajax-content .action .button.btn-popup-login,.ajax-content .action .button.btn-popup-creat-account
,.ajax-container .buttons .button.btn-popup-login{
    background: #0083C1;
    color: #0083C1;
}
.ajax-content .action button,.ajax-container .buttons button {
    background: #7986cb;
    color: #7986cb;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1.5em;
    border: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.ajax-content .action button.button::before, .ajax-content .action button.button::after,
.ajax-container .buttons button.button:before,.ajax-container .buttons button.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: inherit;
}
.btn-popup-login:before,.button.btn-popup-creat-account:before {
    background: #7986cb;
}
.button.btn-popup-login:after, .button.btn-popup-creat-account:after{
    background: #37474f;
}
.ajax-content .action button.button:after,.ajax-container .buttons button.button:after  {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #DBE7ED;
}
.ajax-content .action button.button::before,.ajax-container .buttons button.button:before {
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button.btn-popup-creat-account:hover,.button.btn-popup-login:hover,
.button.btn-popup-creat-account:hover span,.button.btn-popup-login:hover span{
    color: #000;
}
.ajax-content .action button.button:hover::before,.ajax-container .buttons button.button:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.account-login .a-close-frm span,.page-title .a-close-frm span{
    font-size: 0px;
}
.account-login .a-close-frm:before,.page-title .a-close-frm:before{
    content: '\f00d';
    color: #fff;
    height: 20px;
    width: 20px;
    font-family: FontAwesome;
}
.forgotten{
    float: right;
    margin-top: 0;
    color: #000;
    text-transform: capitalize;
    width: 100%;
    text-align: right;
    font-size: 11px;
    padding-right: 45px;
}
.ajax-content .radio-inline{
    padding-top: 0
}
.ajax-content .page-title h1, .register-form-content h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.register-form-content>p>a{
    color: #9A008D;
}
.register-form-content #ajax-register-form{
    padding: 0 20px;
}
.register-form-content .text-feild-reg {
    float: left;
}
.ajax-container  .alert.alert-danger.for-error.error-warning {
    float: left;
    /* top: 0; */
    width: 100%;
    /* left: 0; */
    border-radius: 0;
    text-align: center;
}
@media (max-width:767px){
    .ajax-body-login .account-login,
    .ajax-body-login .account-register{
        width: 90%;
    }
}
@media (max-width:550px){.logout-success{width: 400px;margin-left: -200px;}}
@media (max-width:479px){.logout-success{width: 340px;margin-left: -170px;}}
@media (max-width:360px){.logout-success{width: 280px;margin-left: -140px;}}