<?php echo $header; ?>
<div class="container layer-category">
    <div class="layered-navigation-block"></div>
    <div class="ajax-loader">
        <img src="<?php echo $oclayerednavigation_loader_img; ?>" alt="" />
    </div>
    <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
    </ul>
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
            <!-- <h2><?php echo $heading_title; ?></h2> -->
            <?php if ($thumb || $description) { ?>
            <div class="row">
                <?php if ($thumb) { ?>
                <div class="col-sm-12"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" class="img-thumbnail img-top-category" /></div>
                <?php } ?>
                <!-- <?php if ($description) { ?>
                <div class="col-sm-12"><?php echo $description; ?></div>
                <?php } ?> -->
            </div>
            
            <?php } ?>
            <div class="custom-category">
                <?php if ($products) { ?>
                <!-- <p><a href="<?php echo $compare; ?>" id="compare-total"><?php //echo $text_compare; ?></a></p> -->
                <div class="product-filter">
                    <div class="btn-group">
                    
                    <button type="button" id="grid-view" class="btn btn-default"  title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
                    <button type="button" id="list-view" class="btn btn-default"  title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
                    </div>
                    <div class="sort">
                    <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
                    <select id="input-sort" class="form-control col-sm-3" onchange="oclayerednavigationajax.filter(this.value);">
                    <?php foreach ($sorts as $sorts) { ?>
                    <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                    <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                    <?php } ?>
                    <?php } ?>
                    </select>
                    </div>
                    <div class="limit">
                    <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
                    <select id="input-limit" class="form-control" onchange="oclayerednavigationajax.filter(this.value);">
                    <?php foreach ($limits as $limits) { ?>
                    <?php if ($limits['value'] == $limit) { ?>
                    <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                    <?php } ?>
                    <?php } ?>
                    </select>
                    </div>
                </div> 
                <br />
                <div class="custom-products">
                    <div class="row-product">
                    <?php foreach ($products as $product) { ?>
                    <div class="product-layout product-list">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="<?php echo $product['href']; ?>">
                                    <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" />
                                </a>
                                <div class="add-to-links">
                                    <button class="btn-wishlist" type="button"  title="<?php echo $button_wishlist; ?>"  onclick="wishlist.add('<?php echo $product['product_id']; ?>');">
                                        <span class="effect-btn effect-wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <em class="tooltips"><?php echo $tooltip_wishlist; ?></em>
                                    </button>
                                    <button class="btn-compare" type="button"  title="<?php echo $button_compare; ?>"  onclick="compare.add('<?php echo $product['product_id']; ?>');">
                                        <span class="effect-btn effect-compare">
                                            <i class="fa fa-refresh"></i>
                                        </span>
                                        <em class="tooltips"><?php echo $tooltip_compare; ?></em>
                                    </button>
                                </div>
                                
                                <?php if ($product['is_new']):
                                    if($product['special']): ?>
                                        <div class="label-pro-sale"><?php echo $text_sale; ?></div>
                                    <?php else: ?>
                                        <div class="label-pro-new"><?php echo $text_new; ?></div>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if($product['special']): ?>
                                        <div class="label-pro-sale"><?php echo $text_sale; ?></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                           
                                <div class="caption">
                                    <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
                                    <p class="description"><?php echo $product['description']; ?></p>
                                    <?php if (isset($product['rating'])) { ?>
                                        <div class="rating"><img src="catalog/view/theme/tt_sonic1/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
                                    <?php } ?>
                                    <?php if ($product['price']) { ?>
                                    <p class="price">
                                        <?php if (!$product['special']) { ?>
                                        <?php echo $product['price']; ?>
                                        <?php } else { ?>
                                        <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                                        <?php } ?>
                                        <?php if ($product['tax']) { ?>
                                        <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                                        <?php } ?>
                                    </p>
                                    <?php } ?>
                                    <div class="button-group actions">
                                       <button class="button btn-cart" type="button"  title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>');">
                                            <i class="fa fa-plus"></i>
                                            <span class="effect-add-cart" data-hover="<?php echo $button_cart; ?>">
                                                <?php echo $button_cart; ?>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    <?php } ?>
                    </div>
                </div>
                <div class="product-pagination">
                    <div class="col-sm-6 col-xs-12 text-left"><?php echo $pagination; ?></div>
                    <div class="col-sm-6 col-xs-12 text-right"> 
                        <div class="product-results"><?php echo $results; ?></div>
                    </div>
                </div>
                <?php } ?>
                <?php if (!$categories && !$products) { ?>
                <p><?php echo $text_empty; ?></p>
                <div class="buttons">
                    <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
                </div>
                <?php } ?>
            </div>
            <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
<script type="text/javascript">

</script>