.pt_custommenu {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 90;
    display: inline-block;
	float:left;
    margin: 0 -15px;
}
.pt_custommenu div.pt_menu {
    float: left;
}
.pt_custommenu div.pt_menu  .parentMenu {
	position:relative;
	z-index:1;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
        font-weight: 600;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 55px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,.pt_custommenu .pt_menu.act a {
        color: #434343;
    background: #F9C831;
}
.pt_custommenu div.pt_menu .parentMenu a:active,.pt_custommenu div.pt_menu .parentMenu a:focus{
    outline: none;
}
div.pt_menu .parentMenu a, .parentMenu .block-title {
    color: #666;
    font-size: 18px;
}

.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background-color:#fff;
    text-align:left;
    padding:15px;
    margin: 0;
    top: 55px !important;
    -moz-box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
    border-top: 2px solid #F9C831;
}

.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}

.pt_custommenu .itemMenu h4.level0,.pt_custommenu .itemMenu a.level0 {
    color: #444444;
    font-size: 16px;
    text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
}
.pt_custommenu div.pt_menu.act .itemMenu .itemMenuName{ color: #666666; background:none; }

.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName{ color: #7a7a7a; background:url("../images/li_submenu.png") no-repeat scroll left center;}


.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu .level1 a.level0{
    color: #787878;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
    text-transform: none;
	line-height:30px;
}
.pt_custommenu div.popup a.itemMenuName:hover{
    color: #F9C831;
}
.pt_custommenu div.popup a.actParent {
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: "Poppins",sans-serif;
}
.pt_custommenu div.popup a.act {
}
.pt_custommenu div.column {
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    width: 200px;
}
.pt_custommenu div.blockright {
	width:500px;
}
.pt_custommenu div.popup .blockright img {
    max-width: 100%;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
#block2_pt_item_menu_custom_menu {
    width: 700px;
	padding:0;
}
.static-menu-img {
    margin: 0 20px 0 0;
	width:40%;
	float:left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
}

#block2_pt_item_menu_custom_menu .content-custom {
	font-size:14px;
	color:#444444;
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
	line-height:20px;
	margin:10px 0 0;
	float:left;
	width:50%;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    float: left;
    height: auto;
    margin:0;
    width: 100%;
}

.nav-collapse, .nav-collapse.collapse {
}
.navbar-inner {
    border: 0;
    border-radius: 0;
    padding: 2px 0;
}
.navbar .btn-navbar {
    background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
    border: 0 none !important;
    box-shadow: none !important;
    margin-top: 10px;
}
.navbar .btn-navbar:hover {
	 background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    text-transform: uppercase;
	padding:18px 0px;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}
.mobilemenu li {
	background: #faf8f8;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
        border-radius: 0 !important;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
    border-bottom: 1px solid #e0d8d8;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}


.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #666 !important;
}


.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu li.active>ul {

}
.mobilemenu ul ul a {
	padding-left: 15px;
}
.mobilemenu ul ul ul a {
	padding-left: 30px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 45px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 60px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.ttclose,.mobilemenu span.ttopen {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.ttclose a { 
	background: url("../images/menu_down.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.ttopen a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.no-close a,.mobilemenu ul li ul span.ttclose a { background:none; }
.mobilemenu span.up a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.menu-mobile {
    display: inline-block;
    width: 100%;
	height: 53px;
}

@media (max-width: 767px){
    .level2 .button-view2 a{padding-left: 15px;}
    .mobilemenu ul ul a{padding-left: 30px;}
    .navbar {    margin-top: 0px;}
}