#quickview-bg-block {  
    display: none; 
    background-color : rgba(0,0,0,0.35); 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;  
    margin: auto; 
    position: fixed; 
    z-index: 10;  
}

.quickview-load-img {  
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    text-align: center; 
    z-index: 15; 
    margin: auto;
}

.a-qv-close {
    position: fixed;
    z-index: 20;
    top: 22%;
    right: 16%;
    font-size: 0px;
    height: 40px;
    width: 40px;
    background:  url("images/remove.png") 0px 0px no-repeat;
    overflow: visible;
}
.qv-button-container { position: relative }
#quickview-content {
    position: fixed;
    background-color: #FFFFFF;
    border: solid 2px #000000;
    display: none;
    width: 70%;
    height: 60%;
    top: 20%;
    left: 15%;
    overflow: auto !important;
    padding: 30px;
    z-index: 9999999999;
}
/* form-quantity */
.form-quantity-product input#qv-plus {
    top: 0;
    right: -20px;
}
.form-quantity-product input#qv-minus {
    top: 20px;
    right: -20px;
}
/* end-form-quantity*/