.layered-navigation-block { 
	display: none; 
	background-color : black; 
	height : 100%; 
	opacity : 0.35; 
	position : fixed; 
	top : 0; 
	left: 0; 
	width : 100%; 
	z-index : 900; 
}
.ajax-loader { 
	display: none; 
	z-index: 1000; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
}
.panel-heading.layered-heading{
    color: #333 !important;
    background-color: #fff !important;
    border: 0 !important;
}
.panel-layered{border-radius:0 !important; }
.layered-heading { font-weight:bolder; font-size: large; }
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a { display: inline-block; }
.filter-attribute-container { border-bottom:0px; }
.filter-attribute-container label { 
	color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    display: block;
    padding: 10px 15px;
    margin: 0 5px;
}
.layer-category .list-group a {
    display: block;
}
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { 
	position: absolute; 
	right: 20px; 
	top: 50%; 
	margin-top: -7px; 
	font-size: 0; 
	width: 15px; 
	height: 15px; 
	padding: 0; 
	background: url(../../../../image/remove-icon.png) no-repeat;   
	border: 0; 
}
.filter-attribute-container .remove-filter:hover { 
	background: url(../../../../image/remove-icon.png) no-repeat; 
	opacity: 0.5; 
	border: 0; 
}
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container .list-group-item { overflow: hidden; position: relative; }
.filter-attribute-container .list-group-item p {  margin: 0;     text-transform: capitalize;}
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 10px 0 0; text-align: center;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 5px; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px; text-align: center; }
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.list-group-item a.a-filter.add-filter:hover {
    background: none;
    border: none;
    border-bottom: 1px dotted #ddd;
}
.list-group-item a.a-filter.add-filter{
	text-transform: capitalize;
	border-bottom: 1px dotted #ddd;
}
.ui-widget-header {
    background-color: #0091d5 !important;
    border: none !important;
    outline: none;
    box-shadow: none;
}
.ui-slider-horizontal {
    height: .5em !important;
}
@media (max-width: 1199px){}
@media (max-width: 991px)and(min-width: 768px){
	.filter-attribute-container .list-group-item .filter-price .input-price{max-width: 30px !important;}
}