<?php echo $header; ?>
<div class="container">
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a><span></span></li>
        <?php } ?>
      </ul>
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
            <!-- <div class="page-title"><h2><?php echo $heading_title; ?></h2></div> -->
            <?php if ($products) { ?>
            <!-- <p><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></p> -->
            <div class="product-filter">
                <div class="btn-group">
                <button type="button" id="grid-view" class="btn btn-default"  title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
                <button type="button" id="list-view" class="btn btn-default"  title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
                </div>
                <div class="sort">
                <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
                <select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
                <?php foreach ($sorts as $sorts) { ?>
                <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                <?php } ?>
                <?php } ?>
                </select>
                </div>
                <div class="limit">
                <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
                <select id="input-limit" class="form-control" onchange="location = this.value;">
                <?php foreach ($limits as $limits) { ?>
                <?php if ($limits['value'] == $limit) { ?>
                <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                <?php } ?>
                <?php } ?>
                </select>
                </div>
            </div> 
            <br />
            <div class=" products-category">
            <?php foreach ($products as $product) { ?>
                    <div class="product-layout product-list">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="<?php echo $product['href']; ?>">
                                    <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" />
                                </a>
                                <div class="add-to-links">
                                    <button class="btn-wishlist" type="button"  title="<?php echo $button_wishlist; ?>"  onclick="wishlist.add('<?php echo $product['product_id']; ?>');">
                                        <span class="effect-btn effect-wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                        <em class="tooltips"><?php echo $tooltip_wishlist; ?></em>
                                    </button>
                                    <button class="btn-compare" type="button"  title="<?php echo $button_compare; ?>"  onclick="compare.add('<?php echo $product['product_id']; ?>');">
                                        <span class="effect-btn effect-compare">
                                            <i class="fa fa-refresh"></i>
                                        </span>
                                        <em class="tooltips"><?php echo $tooltip_compare; ?></em>
                                    </button>
                                </div>
                            </div>
                           
                                <div class="caption">
                                    <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
                                    <p class="description"><?php echo $product['description']; ?></p>
                                    <?php if (isset($product['rating'])) { ?>
                                        <div class="rating"><img src="catalog/view/theme/tt_sonic1/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
                                    <?php } ?>
                                    <?php if ($product['price']) { ?>
                                    <p class="price">
                                        <?php if (!$product['special']) { ?>
                                        <?php echo $product['price']; ?>
                                        <?php } else { ?>
                                        <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                                        <?php } ?>
                                        <?php if ($product['tax']) { ?>
                                        <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                                        <?php } ?>
                                    </p>
                                    <?php } ?>
                                    <div class="button-group actions">
                                       <button class="button btn-cart" type="button"  title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>');">
                                            <i class="fa fa-plus"></i>
                                            <span class="effect-add-cart" data-hover="<?php echo $button_cart; ?>">
                                                <?php echo $button_cart; ?>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    <?php } ?>
            </div> <!-- products-category -->
            <div class="product-pagination">
                    <div class="col-sm-6 col-xs-12 text-left"><?php echo $pagination; ?></div>
                    <div class="col-sm-6 col-xs-12 text-right"> 
                        <div class="product-results"><?php echo $results; ?></div>
                    </div>
                </div>
            <?php } else { ?>
            <p><?php echo $text_empty; ?></p>
            <div class="buttons">
                <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
            </div>
            <?php } ?>
            <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
<script type="text/javascript">
// Product List
  $('#list-view').click(function() {
    $('#content .product-grid > .clearfix').remove();

    $('#content  .product-grid').attr('class', 'product-layout product-list');

    $('.product-list .product-thumb .image').addClass("col-md-4 col-sm-4 col-xs-12");
    $('.product-list .product-thumb .caption').addClass("col-md-8 col-sm-8 col-xs-12");

    localStorage.setItem('display', 'list');
            $('.btn-group').find('#list-view').addClass('selected');
            $('.btn-group').find('#grid-view').removeClass('selected');
  });

  // Product Grid
  $('#grid-view').click(function() {
    // What a shame bootstrap does not take into account dynamically loaded columns
    var cols = $('#column-right, #column-left').length;

    if (cols == 2) {
      $('#content .product-list').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
    } else if (cols == 1) {
      $('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
    } else {
      $('#content .product-list').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
    }

    localStorage.setItem('display', 'grid');
            $('.product-grid .product-thumb ').find('.image').removeClass("col-md-4 col-sm-4 col-xs-12");
            $('.product-grid .product-thumb ').find('.caption').removeClass("col-md-8 col-sm-8 col-xs-12");
            $('.btn-group').find('#grid-view').addClass('selected');
            $('.btn-group').find('#list-view').removeClass('selected');
  });

  if (localStorage.getItem('display') == 'list') {
    $('#list-view').trigger('click');
  } else {
    $('#grid-view').trigger('click');
  }
  </script>