body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #343434;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
a:hover {
	text-decoration: none;
	color: #fbb203;
}
a:hover,a:focus,a:active,button:focus,button:active,button:hover{text-decoration: none;outline: none;}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
    background-color: #16608f;
    margin: 0 0 0px 0;
    min-height: 50px;
    font-weight: 600;
    height: 50px;
    z-index: 999;
}
.left-top li a {
    color: #fff;
    padding: 15px 15px 15px 15px;
    margin: 0px;
    display: inline-block;
}
.left-top> ul.list-inline >li:first-child a{padding-left: 0px;}
.right-top> ul.list-inline >li:last-child {padding-right: 0px;}
.left-top li a .fa,.right-top form .btn-group button .fa,.right-top .top-account a .fa{margin:0px 5px;}
.left-top li,.left-top ul,.right-top ul, .right-top li {
    padding: 0px;
    margin: 0px;
}
.right-top form .btn-group>button{
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    padding: 16px 10px 16px 10px;
    border: 0;
}
.right-top .top-account{
    vertical-align: middle;
    font-weight: 600;
    padding: 16px 10px 16px 10px;
    border: 0;
    position: relative;
}
#top a,#top .btn-group>button{text-decoration: none;height: 50px;}
#top .dropdown-menu button{
    color: #000;
}
#top .dropdown-menu{
    right: 0 !important;
    left: 0;
    top: 48px;
    margin: 0;
    padding: 0;
    min-width: 100%;
    border-radius: 0;
}
#top .dropdown-menu li button.btn {
    color: #333;
    width: 100%;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    transition: all 300ms ease-in 0s;
    -webkit-transition: all 300ms ease-in 0s;
}
#top .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
#top-links>ul>li:hover , #top a:hover{
    background:  #0091D5;
    color: #fff;
}
#top-links >ul>li>ul>li:hover a,#top .dropdown-menu li button.btn:hover{
    background:  #666;
    color: #fff;
}
.right-top .top-account a.dropdown-toggle {
    color: #fff;
}
.top-account>ul>li>a{
    padding: 10px !important;
    height: auto !important;
}
/* header *******************************/
header{
	background: #186ea4;
	padding: 30px 0;

}
.top-menu{z-index: 91;    border-bottom: 1px solid #ccc;    background: #d7dce0;}
/* logo */
#logo {
	margin: 0 0 0px 0;
}
/* search */
.top-search-content {
    float: left;
    min-width: 100%;
    padding-right: 150px;
    margin-right: -160px;
}
#search {
	margin-bottom: 0px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
.top-cart-content {
    float: right;
    width: 150px;
}
#cart {
	margin-bottom: 0px;
}
#cart > .btn {
    background: #fbb203;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
    min-height: 40px;
    overflow: hidden;
    padding: 14px 19px;
    position: relative;
    border: none;
    text-shadow: none;
    border-radius: 0;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
    min-width: 260px;
    max-height: 350px;
    overflow: auto;
    -moz-overflow: auto;
    -moz-overflow-x: hidden;
    overflow-x: hidden;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: auto;
	padding: 0 10px;
}
.box-cart .box-total {
    display: block;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
#cart .dropdown-menu li p.top-cart-content {
    margin: 20px 0;
    display: block;
    width: 100%;
}
.box-cart .box-total .text1 {    font-weight: 600;}
.row2-cart.div-bordered .button-cart {
    padding: 15px 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.dropdown-menu
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
.row-cart .image-cart.text-left a {
    position: relative;
    float: left;
}
.row-cart .image-cart.text-left img{
	max-width: 100px;
}
.row-cart{
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 10px 0;
}
.row-cart .cart-content{
    position: relative;
    padding-left: 110px;
}
.cart-button.button-remove button.btn {
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 50%;
    vertical-align: top;
    display: inline-block;
    clear: both;
    margin: 0px;
    padding: 0px;
}
.cart-button.button-remove button.btn .fa{

}
.cart-button.button-remove button.btn:hover{
    color: #F84949;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* menu fixed top **************************************************************************************************/
.nav-container.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9995;
    margin: 0;
    background: rgba(59,61,61,0.95);
    padding: 0px 0 0px;
}
.nav-container.fix-nav .pt_custommenu {
    width: 1170px;
    margin: auto;
    float: none;
    display: block;
    padding: 0 15px
}
.fix-nav .parentMenu a span{
	color: #fff !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.fix-nav .parentMenu a span:hover{
	    color: #0091d5 !important;
}
@media (min-width: 992px){
    .quick-access.fix-header {
        position: fixed;
        top: 0px;
        right: 50%;
        margin-right: -585px;
        z-index: 9996;
    }

    .quick-access.fix-header .dropdown-menu { margin: -10px 0 0; border-radius: 0; }
    .quick-access.fix-header #cart .dropdown-menu{margin-top: 0px;min-width: 280px;}
    .quick-access.fix-header #cart {    padding: 5px 0 5px 0;}
    .quick-access.fix-header .top-cart-content{width: auto;}
} 
/**/
/* content */
#content {
	min-height: 300px;
}
/* cms-block */
.cmsblock{}
.cmsblock img{width: 100%;float: left;}
.block-content-top {
    margin-top: 30px;
}
.static-block {
    clear: both;
    margin: 30px 0px;
}
.owl-wrapper-outer{box-shadow: none !important; outline: none !important;border: none !important;}
/*block-content-top*/
 .img.img-transiton1 a {
    display: block;
    overflow: hidden;
    position: relative;
}
 .img.img-transiton1 a:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border: 70px solid rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
 .img.img-transiton1 a:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    border: 30px solid #fff;
    top: 0;
    left: 0;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transition: all 0.3s ease-in-out;
}
 .img.img-transiton1 a:hover:before {
    border: 0 solid rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease-in-out;
}
 .img.img-transiton1 a:hover:after {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
}
/* our-service */
.end-content-bottom {
    margin-top: 30px;
    clear: both;
}
h4.our-service-title {
    color: #444444;
    font-size: 20px;
    margin: 0 0 30px;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
    clear: both;
}
h4.our-service-title:before {
    background: #e5e5e5;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
}
h4.our-service-title span {
    position: relative;
    z-index: 10;
    padding-right: 15px;
    background: #fff;
}
.our-service ul{padding-left: 0;margin-left: 0;list-style: none;}
.our-service ul li {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 85px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.our-service ul li i {
    border-right: 1px solid #ccc;
    bottom: 0;
    color: #aaaaaa;
    display: block;
    font-size: 40px;
    height: 45px;
    width: 60px;
    left: 0;
    line-height: 45px;
    position: absolute;
    right: 0;
    top: 25px;
}
.our-service ul li h2 {
    color: #444444;
    font-size: 15px;
    margin: 0 0 10px 0;
    font-weight: 600;
}
.our-service ul li p {
    font-size: 12px;
    color: #aaaaaa;
    margin: 0;
}
/* testimonial */
.testimonial-container{
    clear: both;
    overflow: hidden;
}
.testimonial-content {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.testimonial-images {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    float: left;
    height: 70px;
    overflow: hidden;
    width: 70px;
    margin-right: 15px;
}
.testimonial-box {
    overflow: hidden;
}
span.testimonial-author a {
    display: block;
    color: #0f93d2;
    font-style: normal;
    margin-bottom: 15px;
    font-size: 13px;
}
p.testimonial-desc{
    color: #999;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
}
/*page*/
.testimonial-page .testimonial-images{
    width: auto;
    height: auto;
}
.testimonial-page .row-testimonials{
    float: left;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    width: 100%;
}
.testimonial-page .row-testimonials .testimonial-std{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}
.testimonial-page .row-testimonials .testimonial-std:before{
    content: '';
    position: absolute;
    left: -40px;
    top:8px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 35px solid #ccc;
}
.testimonial-page .row-testimonials .testimonial-std:after{
    content: '';
    position: absolute;
    left: -39px;
    top: 8px;
    width: 0;
    height: 0;
    border-left: 41px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 34px solid #fff;
}
/*end-testimonial*/
/* fix-default owl-pagination */
.block-content .owl-controls{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    clear: both;
}
.owl-controls.clickable{text-align: center;}
.owl-pagination{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-pagination .owl-page{
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.owl-pagination .owl-page span{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background: transparent !important;
    background-color: transparent !important;
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.owl-pagination .owl-page span::before, .owl-pagination .owl-page span::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#0091d5;
    content: '';
    text-indent: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.owl-pagination .owl-page span::after {
    background-color: #fbb203;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.owl-pagination .owl-page.active span{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/* end-owl-pagination */
/*Our_brands*/
.block-content-bottom {
    margin-top: 30px;
}
.logo-container.listProducts {
    margin: 2px 0;
}
.pos-logo-container .owl-item .item{border: none !important;}
.logo-container .owl-carousel{
	margin-bottom: 0px !important;
}
.logo-container .owl-carousel .owl-item .item{margin-right:10px; cursor: pointer;}
.logo-container .owl-carousel .owl-item .item{border: 1px solid #eee !important;margin-bottom: 2px;clear: both;}
/* blog */
/* Blog-hhome */
/*#blog_home .owl-carousel .owl-item{float: none;}*/
#blog_home .row_items{margin: 0 5px;}
#blog_home .articles-inner.item-inner {
    margin: 0 15px;
}
#blog_home .articles-image img,.article-image-detail img{width: 100%;}
/*#blog_home .articles-inner{
	float: left;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: visible;
    min-height: 300px;
    border-bottom: 1px solid #ddd;	
}
#blog_home .articles-image{
	border: 4px solid rgba(224, 223, 223, 0.9);
}
#blog_home .articles-inner img {
    transition: 0.5s;
    width: 100%;
}
#blog_home .articles-box-content{
    top: -500px;
    opacity: 0;
    padding: 20px;
    transition: 0.5s;
    position: absolute;
}
#blog_home .articles-inner:hover img {
    transform: scale(0.5) translateY(100%);
    position: relative;
    z-index: 9;
    border: 6px solid rgba(199, 195, 195, 0.9);
}
#blog_home .articles-inner:hover .articles-box-content {
    top: 0px;
    opacity: 1;
}*/
a.articles-name{
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    display: block;
}
a.articles-name:hover{    color: #0f93d2;}
.articles-date , p.articledate,.article-date{
    color: #919191;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}
.readmore a {
    background: #3d3b3b;
    padding: 5px 8px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
}
.readmore a:hover{	background:#0f93d2;}
/* article-page */
.article-image img{max-width: 100%;}
.article-item-inner{margin: 20px 0;}
/* end-blog */
/* product *********** start ******************* product */
/* customstyle product */
.owl-item .item{
	border: 1px solid #ccc;
    border-right: none;
}
.owl-item .item .product-image img,.countdown-products .product-image img{
	max-width: 100%;
	width: 100%;
}
.owl-item .product-img-content {
    position: relative;
    float: left;
    overflow: hidden;
}
 .add-to-links{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
}
 .add-to-links button.btn-quickview {
    width: 60%;
    color: #000;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
 .add-to-links button span{
	background: #3b3d3d;
	border-right: 1px solid #ccc;
	color: #fff;
}
 .add-to-links button.btn-compare span{
	border-right: none;
}
 .add-to-links button{
	margin: 0px;
	border: none;
	border-radius: 0px;
	height: 40px;
	padding: 0px;
	float:left;
}
 .add-to-links button{
	opacity: 0;
	-webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    transform: translateY(500px);

}
.item:hover .add-to-links button,.product-thumb:hover .image .add-to-links button{
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    background: #2f4351;
/*        -webkit-animation: bounceIn 2500ms ease-in-out;
    -moz-animation: bounceIn 2500ms ease-in-out;
    -ms-animation: bounceIn 2500ms ease-in-out;
    animation: bounceIn 2500ms ease-in-out;*/
}
.add-to-links button.btn-wishlist,.add-to-links button.btn-compare{
    width: 20%;
}
 .add-to-links button.btn-wishlist{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
 .add-to-links button.btn-compare{
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.actions{text-align: center;    margin-bottom: 20px;}
.actions button.btn-cart{
    display: inline-block;
    border: 0px solid #0091d5;
    height: 40px;
    background: #2374a7;
    color: #fff;
    text-align: center;
    line-height: 36px;
    position: relative;
    text-shadow: 0 0 0;
    text-transform: uppercase;
    padding: 0px 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.actions button.btn-cart:hover{
    background:#f9c831;
}
.actions button.btn-cart i{padding: 0 5px 0px 0px}
.actions button.btn-cart span.effect-add-cart{}
#product .actions button.btn-cart span.effect-add-cart{display: inline;margin: 0px;}
#product .actions .text_cart{
    margin: 0 0px;
}
.owl-item .item .product-name a{
	font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 1.1;
    font-size: 13px;
    padding: 10px 0; 
    display:inline-block;
}
.owl-item .item .product-name{
	text-align: center;
	margin: 0;
	padding: 0;
}
.owl-item .item .top-inner{
	text-align: center;
	padding: 0 10px;
}
.owl-item .item .price-box{    margin: 10px 0px;}
.owl-item .item .price-box p{ 	display: inline-block; margin: 0px;}
.owl-item .item .price-box .special-price span,.owl-item .item .price-box .price{
	color: #ff560b;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.owl-item .item .price-box .old-price span{
	    color: #838383;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 14px;
        padding: 0 5px;
}
.owl-wrapper .owl-item:first-child .item{border-left-color:#fff; }
/** tooltips **/
.add-to-links button,.newletter-subscribe ul.link-follow li a,.button-group-product .btn-wishlist,
.button-group-product .btn-compare{position: relative;}
.add-to-links button em:after,.newletter-subscribe ul.link-follow li a span:after,
.button-group-product .btn-wishlist em:after,.button-group-product .btn-compare em:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -3px;
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0, 0.8);
}
.add-to-links button em,.newletter-subscribe ul.link-follow li a span,
.button-group-product .btn-wishlist em,.button-group-product .btn-compare em{
       display: block;
    position: absolute;
    left: 50%;
    text-align: center;
    min-width: 70px;
    margin-left: -45px;
    padding: 2px 5px;
    border-radius: 3px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-transform: capitalize;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    opacity: 0;
    bottom: 55px;
}
.add-to-links button em,.newletter-subscribe ul.link-follow li a span,
.button-group-product .btn-wishlist em,.button-group-product .btn-compare em{
	transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}
.add-to-links em.tooltips,ul.link-follow li a span.tooltips,
.button-group-product .btn-wishlist em.tooltips,.button-group-product .btn-compare em.tooltips{
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 10px;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}
.add-to-links button:hover em, ul.link-follow li a:hover span.tooltips,
.button-group-product .btn-wishlist:hover em.tooltips,.button-group-product .btn-compare:hover em.tooltips{
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.add-to-links button:hover em, ul.link-follow li a:hover span,
.button-group-product .btn-wishlist:hover em,.button-group-product .btn-compare:hover em{
    opacity: 1;
}
/* effect-btn */
span.effect-btn {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
span.effect-btn .fa{font-size: 16px; line-height: 40px}
span.effect-compare::after{content: "\f021";}
span.effect-wishlist::after{content: "\f08a";}
span.effect-quickview::after{ 
    content: attr(data-hover);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
}
span.effect-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #f9c831;
    color: #fff;
    font-family:FontAwesome;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
button:hover span.effect-btn, button:focus span.effect-btn {
    background: #fbb203;
    border-color: #ddd;
}
button:hover span.effect-btn::after, button:focus span.effect-btn::after {
	background: #f9c831;
}
button:hover span.effect-btn,button:focus span.effect-btn{
	-webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}
/*effect add-cart*/

/** rotator img products **/
.product-image{
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0;
}
.product-image img.img1 {
    display:block;
    float:left;
    width:100%;
   /*  -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;*/
 }
.product-image img.img2 {
   position:absolute;
    top:0;
    left:0;
    opacity:0;
    display:block;
    width:auto;
    -moz-transition: all 1.5s ease-in-out 1.5s;
    transition: all 1.5s ease-in-out 1.5s;
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    transform: translateY(400px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.item-inner:hover .product-image img.img1{
   opacity: 1;
  /*  -moz-transition: all 1.5s ease-in-out 1.5s;
    transition: all 1.5s ease-in-out 1.5s;
    -moz-transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;*/
}
.item-inner:hover .product-image img.img2{
    opacity:1;
    z-index: 3;
    width: 100%;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
/* end-rotator-img */
/* label-new-sales */
.label-pro-sale{
    color: #fff;
    background: #ff9c00;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 99;
}
.label-pro-sale:before{
    moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ff9c00 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    position: absolute;
    right: 5px;
}
.label-pro-new{
    color: #fff;
    background: #73d33f;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 99;
}
.label-pro-new:before{
    moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #73d33f transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    position: absolute;
    left: 5px;
}
/* end-label-new-sales */
/* .product-tabs-container-slider */
.product-tabs-container-slider {
    display: block;
    margin-bottom: 30px;
    margin-top: 50px;
    clear: both;
}
.title-product-tabs{text-align: center;}
.title-product-tabs ul.tabs {
    display: block;
    height: 49px;
    list-style: none! important;
    margin: 0;
    padding: 0;
    background: url(../image/line_title.jpg) repeat-x center 50%;
    margin-bottom: 30px;
}
/*.title-product-tabs ul.tabs:before{
    background:  #e5e5e5;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    left: 0px;
    top: 22px;
}*/
.title-product-tabs ul.tabs li{
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    margin: 0 -2px;
}
.title-product-tabs ul.tabs li:first-child{
    padding-left: 30px;
}
.title-product-tabs ul.tabs li:last-child{
    padding-right: 30px;
}
.title-product-tabs ul.tabs li h3{
    background: #f0f0f0 none repeat scroll 0 0;
    border-left: medium none;
    color: #2b2b2b;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin: 0 0px 0 0;
    overflow: hidden;
    padding: 0 21px;
    position: relative;
    text-transform: uppercase;
}
.title-product-tabs ul.tabs li.active h3,.title-product-tabs ul.tabs li:hover h3 {
    background: #f9c831;
    color: #fff;
}
.owl-demo-tabproduct .product-thumb{
    border: 0;
}
.owl-demo-tabproduct .owl-item .item{float: left;}
/* occountdown_module */
.occountdown_module{
	border: 2px solid #f9c831;
}
.occountdown_module .module-title h3{
    background: #f9c831;
    padding: 10px 15px;
    margin: 0;
}
.occountdown_module .module-title h3 span {
    color: #444;
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
}
.occountdown_module .module-title h3 span i {
    margin: 0 5px;
}
.occountdown_module .timer-item {    position: relative; border: none !important;}
.occountdown_module .des-container{text-align: center;}
.occountdown_module .box-timer.is-countdown{
    padding: 0 15px;
    width: 100%;
    float: left;
}
.occountdown_module .countdown-row {
    border-top: 2px solid #0091d5;
    border-bottom: 2px solid #0091d5;
    padding: 0px 0;
    width: 100%;
    display: block;
}
.occountdown_module span.countdown-section{display: inline-block;width: 25%;}
.occountdown_module span.countdown-section span{
	display: block;
	text-align: center;
	color: #0091d5;
}
.occountdown_module span.countdown-period{
	font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 0;
}
.occountdown_module span.countdown-amount{
	font-size: 16px;
	font-weight: 600;
	padding-top: 5px;
}
.occountdown_module .timer-item .images-container{float: left;}
.occountdown_module .owl-item .item .actions{padding-bottom: 0px;}
/* new-product */
.ocnewproductslider{
	border: 1px solid #ccc;
	margin-top: 30px;
/*	border-bottom: none;*/
}
.ocnewproductslider .owl-item .item{
	border: none; 
	border-bottom:1px solid #ccc; 
	float: left;
    width: 100%;
}
 h3.module-title-box{
	background: #3b3d3d none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    margin: 0;
    padding: 0 15px;
    display: block;
}
.ocnewproductslider .images-container{
	max-width: 100px;
    float: left;
}
.ocnewproductslider .owl-carousel{
	margin-bottom: 0px;
}
.ocnewproductslider .des-container {    padding-left: 110px;    padding-right: 5px;}
.ocnewproductslider .item .product-name{text-align: left;}
/** productTabContent **/
ul.productTabContent.owl-demo-tabcate.owl-carousel.owl-theme {
    padding: 0px;
    list-style: none;
}
.owl-demo-tabcate .owl-item .product-thumb{border:none;}
ul.tabs-categorys {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.tabs-categorys .content-img {
    display: block;
    width: 100%;
}
.product-tabs-category-container-slider .content-img img{
    width: 100%;
    margin-bottom: 15px;
}
.OC_Category_Tabs_Slider_HeadPhone img.img-second{
    float: right;
    margin-left: 7px;
}
.OC_Category_Tabs_Slider_Smart_Phone img.img-second{
    float: left;
        margin-right: 7px;
}
.product-tabs-category-container-slider .content-img.img.img-transiton1 {
    margin-bottom: 30px;
}
.group-title{
        position: relative;
}
.group-title h3:before {
    background: #e5e5e5;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;

}
.group-title h3 {
    margin: 0;
    font-size: 20px;
    color: #444444;
    background: #fff;
    display: inline-block;
    font-weight: 600;
    padding-right: 20px;
    margin-bottom: 30px;
}
span.content-img {
    display: inline-block;
    margin-bottom: 30px;
}
/* product **************** end ************** product */
/* popup */
div#boxes {
    background: #fff;
    position: fixed !important;
    width: 550px;
    min-height: 280px;
    top: 50% !important;
    margin-top: -140px;
    left: 50% !important;
    margin-left: -275px !important;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,#58a 0, #58a 3em, transparent 0, transparent 4em);
    max-width: 550px;
}
.newsletter-popup .subs-links.text-center .button {
    cursor: pointer;
    padding: 5px 12px;
    background: #343434;
    color: #fff;
}
.newsletter-popup .subs-links.text-center .button:hover{
    background: #f9c831;
    color: #434343;
}
.newsletter-popup .box-content.newleter-content,.newsletter-popup .newletter-title {
    text-align: center;
}
.newsletter-popup .newletter-title h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.newsletter-popup .box-content.newleter-content label {
    font-size: 12px;
    font-style: oblique;
    margin-bottom: 15px;
}
.newsletter-popup #subscribe_popup span{
    font-size: 14px;
    font-weight: 600;
}
.newsletter-popup #subscribe_popup span.required{color: red;padding: 0 3px;}
.newsletter-popup #subscribe_pemail {
    min-width: 300px;
    padding: 7px 15px;
    margin-bottom: 20px;
}

.newsletter-popup #subscribe_popup .subs-links button{
    color: #fff;
    border-color: #fff;

}
.newsletter-popup #subscribe_popup .subs-links .btn-popup-newsletter{
    background: #0083C1;
    color: #0083C1;
}
.newsletter-popup #subscribe_popup .subs-links button {
    background: #7986cb;
    color: #7986cb;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1.5em;
    border: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.newsletter-popup #subscribe_popup .subs-links button.button:after,#subscribe_popup .subs-links button.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: inherit;
}
.newsletter-popup #subscribe_popup .subs-links .btn-popup-newsletter:before {
    background: #7986cb;
}
.newsletter-popup #subscribe_popup .subs-links .btn-popup-newsletter:after{
    background: #37474f;
}
.newsletter-popup #subscribe_popup .subs-links button.button:after  {
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #DBE7ED;
}
.newsletter-popup #subscribe_popup .subs-links button.button:before {
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.newsletter-popup #subscribe_popup .subs-links .btn-popup-newsletter:hover span{
    color: #000;
}
.newsletter-popup #subscribe_popup .subs-links .btn-popup-newsletter:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.newsletter-popup div#popup2.btn-close-form {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}
/* footer ********************************/
/* top-footer newsletters */
.top-footer{
	background: #f0f0f0;
    padding: 30px 0 30px;
    overflow: hidden;
    margin-top: 30px;
}
.box-content.newleter-content {    margin: 5px 0;}
.newletter-subscribe .newletter-title h2{margin: 0px;}
.newletter-subscribe .newletter-title h2 .fa {
    font-size: 24px;
    padding: 10px;
    color: #fff;
    border-radius: 100%;
    background: #f9c831;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
}
.newletter-subscribe .newletter-title h2 span{
	font-size: 20px;
}
.newletter-subscribe .newletter-title {
    float: left;
    display: block;
    margin-right: 30px;
}
#frm_subscribe,#frm_subscribe_normal{
    overflow: hidden;
    position: relative;
}
.newletter-subscribe input#subscribe_email {
    height: 40px;
    display: block;
    width: 100%;
    vertical-align: middle;
    line-height: 38px;
    padding: 0 10px;
}
#subscribe {
    margin: 0;
    padding-right: 125px;
}
#subscribe a.button{
	border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    font: bold 13px/17px Arial, Helvetica, sans-serif;
}
#subscribe a.button span {
    border: 1px solid #444444;
    background: #444444;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
#subscribe a.button span:hover{
	    background: #f9c831;
    border-color: #f9c831;
}
.newletter-subscribe ul.link-follow {
    float: right;
        list-style: none;
        margin:5px 0px;
}
.newletter-subscribe ul.link-follow li{
	float: left;
}
.newletter-subscribe ul.link-follow li a {
    margin: 0 3px;
    float: left;
    width: 40px;
    text-align: center;
    position: relative;
}
.newletter-subscribe ul.link-follow li a i{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.newletter-subscribe ul.link-follow li a i:hover{
	border-radius: 0;
}
.rss i{    background: #4f66aa;}
.twitter i{    background: #399bff;}
.face i {    background: #4f66aa;}
.google i {    background: #ea684a;}

/*account-wishlist*/
.account-wishlist .table-responsive td a img{
    max-width: 100px;
}
/* footer */
footer {
	padding-top: 50px;
	background: #e5e5e5;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a, footer span, footer p{
	color: #666666;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}
footer a:hover {
	color: #0091d5;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
footer .heading-title-footer{
	color: #2b2b2b;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 30px;
}
footer ul.list-unstyled .fa{
    color: #666666;
    float: left;
    line-height: 30px;
    padding-right: 10px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    border-right: 1px solid #cecece;
    margin-right: 10px;
}
footer ul.list-unstyled .footer-information{padding-left: 40px;}
.footer-powered{
    background: #3b3d3d;
    padding: 15px 0;
    text-align: left;
    margin-top: 30px;
}
.footer-powered p{color: #fff;}
.footer-powered a{color: #FBB203;text-decoration: none;}
.footer-powered p{float: left;margin-bottom: 0px;}
.footer-powered .footer-payment{float: right;}
/* alert */

.alert {
    padding: 8px 14px 8px 14px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
    z-index: 9999;
    left: 0;
    border: none;
    border-radius: 0;
    line-height: 36px;
    text-align: center;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    border-radius: 0px !important;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 0px 0 0px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb li:last-child a{
    color: #0091d5;
    text-transform: capitalize;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 0px;
	box-shadow: none;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
/*	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);*/
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
/*	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;*/
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
/*	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;*/
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
/*	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;*/
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
/*	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;*/
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
/*	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;*/
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
/*	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;*/
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
/*	background-image: linear-gradient(to bottom, #333333, #111111);*/
}

/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* fillter product*/
img.img-thumbnail.img-top-category {
    border: 0;
    padding: 0;
    border-radius: 0;
}
.product-filter, .product-pagination {
    overflow: hidden;
    padding: 5px 15px;
    border-bottom: 1px solid #F1F1F1;
    margin: 20px 0 20px;
    background: #fff;
    width: 100%;
    clear: both;
    float: left;
}
.product-filter .btn-group {
    margin: 1px 0 0;
    display: inherit;
    float: left;
}
.product-results {
    padding: 12px 0;
}
.pagination {
    margin: 0px 0px -5px 0px !important;
    padding: 5px 0;
}
.product-pagination .pagination>li>span,.product-pagination .pagination>li>a{margin: 0 2px !important;}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.product-filter label {
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    text-transform: capitalize;
    float: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
.product-filter .btn-group #list-view.selected,.product-filter .btn-group #list-view:hover {
    height: 27px;
    width: 27px;
    float: left;
    background: #0091d5 url(../image/list1.png) 6px -20px no-repeat;
    border: 0;
    border-radius: 0;
    padding-left: 20px;
    margin: 2px 5px 0 0;
    text-transform: uppercase;
    text-indent: -9999px;
    outline: none;
}
.product-filter .btn-group #grid-view.selected ,.product-filter .btn-group #grid-view:hover {
    height: 27px;
    width: 27px;
    float: left;
    background: #0091d5 url(../image/grid1.png) 5px -20px no-repeat;
    margin: 2px 5px 0 0;
    padding-left: 20px;
    text-transform: uppercase;
    color: #fea238;
    text-indent: -9999px;
    outline: none;
}
.product-filter .btn-group #grid-view{
    height: 27px;
    width: 27px;
    float: left;
    background: #fff url(../image/grid1.png) 4px 8px no-repeat;
    margin: 2px 5px 0 0;
    padding-left: 20px;
    text-transform: uppercase;
    text-indent: -9999px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.product-filter .btn-group #list-view{
    height: 27px;
    width: 27px;
    float: left;
    background: #fff url(../image/list1.png)  6px 8px no-repeat;
    border: 0;
    border-radius: 0;
    padding-left: 20px;
    margin: 2px 5px 0 0;
    text-transform: uppercase;
    text-indent: -9999px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.product-filter .btn-group button {
    background: none;
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 17px;
    padding: 0;
    text-indent: -9999px;
    width: 17px;
    margin-right: 10px;
}
.product-filter .sort {
    float: right;
    margin: 2px 0 0;
    padding: 0 0 0 20px;
}
.product-filter label {
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    text-transform: capitalize;
    float: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
.product-filter select {
    background: none repeat scroll 0 0 #fff;
    color: #777;
    font-size: 14px !important;
    padding: 3px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 0;
    height: auto;
    width: auto;
    float: none;
    display: inline-block;
    border: 1px solid #F1F1F1;
}
.product-filter .limit {
    color: #666;
    float: right;
    padding: 0  20px 0 0;
}
.limit #input-limit{padding: 5px;}
.product-filter #input-sort {
    float: right;
    padding: 5px 5px;
    width: 60%;
    margin: 0px 5px 0px;
}

.product-filter .btn{box-shadow: none;}
.product-filter .btn.active.focus, .product-filter .btn.active:focus, .product-filter .btn.focus, 
.product-filter .btn:active.focus, .product-filter .btn:active:focus, .product-filter .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.product-filter .btn.focus, .product-filter .btn:focus, .product-filter .btn:hover{color:#fff !important;text-decoration:none}
.product-filter {
    border-bottom: 0;
    border: 1px solid #ccc;
}
.product-pagination {
    border: 1px solid #ccc;
}

/* list group default*/
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* category & list & grid */
p.category-image {
    padding: 0px;
    margin: 0px;
}
.product-grid .product-thumb .image{
	float: left;
	position: relative;
	overflow: hidden;
}
/* grid */
.product-layout.product-grid {
    overflow: auto;
    padding-left:0px !important;
    padding-right: 0px !important; 
    text-align: center;
}
.product-layout.product-grid .product-thumb{margin-bottom: 0px;border-bottom:0; }
.product-layout.product-grid:nth-child(2n) .product-thumb{
	border-left:0; 
}
.product-layout.product-grid:nth-child(2n+1) .product-thumb{
	border-left: 0;
}
.product-layout.product-grid:nth-child(4n+4) .product-thumb{
	border-right: 0;
}
.product-layout.product-grid .description{display: none;}
/* product list */
.product-list .add-to-links {
    bottom: 10px;
    margin-bottom: 0;
}
.product-list .product-thumb{
    border: 0;
    border-bottom: 1px solid #ddd;
}
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
    float: left;
    overflow: hidden;
    width: 100%;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
/*	padding: 0 5px;*/
	min-height: auto;
}
.product-list .product-thumb .caption {
/*	margin-left: 230px;*/
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: auto;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 0px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	    color: #ff560b;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.product-thumb .price-new {
	    color: #ff560b;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
    font-weight: 500;
    font-size: 13px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-list .product-thumb .button-group {
/*	border-left: 1px solid #ddd;*/
    text-align:left;
}
.product-list .product-thumb .price{
    color: #ff560b;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-list .product-thumb .price-old{
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}

/*@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}*/
/* product-product */
select.form-control {
    max-width: 250px;
}
#payment-existing select.form-control,#shipping-existing select.form-control{
    max-width: 100%;
}
/*zoom-windown*/
.zoomWindow {
    left: 105% !important;
    border: 4px solid #ddd !important;
    top: -5px !important;
    width: 350px !important;
}
.zoomLens {
    height: 100px !important;
    width: 100px !important;
}
.zoomContainer {
    top: 5px !important;
    left: 0px !important;
    margin-left: 18px !important;
    z-index: 9;
}
/*.image-additional*/
.image-additional .thumbnail {
    margin: 0 5px 20px 5px;
}
.wrapper-img-additional{padding: 0 30px;}
.wrapper-img-additional .owl-theme .owl-controls .owl-buttons div {
    font-size: 0px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #8a8a8a;
    text-align: center;
    line-height: 30px;
    margin-bottom: 2px;
    opacity: 0;
}
.wrapper-img-additional .owl-theme .owl-controls .owl-buttons div:before{
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 30px;
}
.wrapper-img-additional .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0px;
    top: 45px;
    border-radius: 0px 3px 3px 0px;
}
.wrapper-img-additional .owl-theme .owl-controls .owl-buttons div.owl-prev {
    right: auto;
    left: 0px;
    top: 45px;
    border-radius: 3px 0px 0px 3px;
}
.wrapper-img-additional:hover .owl-theme .owl-controls .owl-buttons div.owl-prev{left: -20px;opacity: 1;}
.wrapper-img-additional:hover .owl-theme .owl-controls .owl-buttons div.owl-next{right: -20px;opacity: 1;}
.wrapper-img-additional .owl-prev:after{display: none;}
.wrapper-img-additional .owl-theme .owl-controls .owl-buttons div:hover{
    background-color: #3c3c3c;
    color: #fff;
}
/* form-quantity */
.short-description-content .short-description{font-size: 13px;}
#product .form-quantity-product div{
    display: inline-block;
}
.form-quantity-product {
    float: left;
    overflow: visible;
    clear: both;
}
.form-quantity .box-input-qty input{
    height: 40px;
    width: 50px;
    padding: 0 5px;
    border-radius: 0px;
    text-align: center;
}
.form-quantity .box-input-qty{
    position: relative;
}
.form-quantity div.btn-plus input,.form-quantity div.btn-minus input{
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 18px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    position: absolute;
}
.form-quantity-product input#plus {
    top: 0;
    right: -20px;
}
.form-quantity-product input#minus {
    top: 20px;
    right: -20px;
}
.box-button.button-group.button-group-product.actions {
    text-align: left;
    float: left;
    padding-left: 30px;
}
.button-group-product button{vertical-align: top;}
.button-group-product button.btn-wishlist,.button-group-product button.btn-compare {
    background: #fff;
    border: none;
    width: 40px;
    margin-right: 5px;
}
.button-group-product button.btn-wishlist span.effect-btn, .button-group-product button.btn-compare span.effect-btn{
    width: 40px;
    border: 1px solid #ddd;
    height: 40px;
}
.nav-tabs-products{
    float: left;
    width: 100%;
    border-bottom: 3px solid #5b5b5b;
    margin-bottom: 0;
    height: 50px;
}
.nav-tabs-products li a {
    background: #f0f0f0 !important;
    color: #5b5b5b !important;
    display: block !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 0 30px !important;
    line-height: 47px !important;
    text-transform: uppercase !important;
    border: none !important;
    border-radius: 0px !important;
}
.nav-tabs-products li.active a , .nav-tabs-products li:hover a{
    color: #fff !important;
    background: #5b5b5b !important;
}
.tab-content-product{
    border: 1px solid #ebebeb;
    clear: both;
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 60px;
    padding: 30px;
    max-height: 300px;
    overflow: auto;
}
.title-fx:before {
    background: #e5e5e5;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
}
.title-fx {
    color: #444444;
    font-size: 20px;
    margin: 0 0 30px;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
}
.title-fx span {
    position: relative;
    z-index: 10;
    padding-right: 15px;
    background: #fff;
}
/* end-form-quantity*/
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}
.view-related .product-thumb{
    margin-bottom: 0px;
    border:0px;
}
.relate-product .owl-item .product-img-content{max-width:100%;}
/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
/*#back-top*/
#back-top {
    display: block;
    position: fixed;
    z-index: 9999;
    width: 0;
    height: 0;
    bottom: 23px;
    right: 23px;
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 50%;
    background: #0083C1 url("../image/back-top.png") no-repeat scroll 0px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}
#back-top.show{
    width: 56px;
    height: 56px;
}
#back-top:hover {
    background-color: #0091D5;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}
/* end-back-top */
/*account.tpl*/
.accounts-content li a{
    border: none;
    border-radius:0;
    line-height: 30px;
    padding: 0px;
}
.accounts-content ul.list-unstyled.decimal{
    border: 1px solid #ccc;
}
.accounts-content li a:hover{
    border: none;
    border-radius:0;
    color: #23a1d1;
    padding-left: 10px;
    background: #fff;
}
.accounts-content li a:hover:before {color: #23a1d1; }
.accounts-content li a:before {
    content: "\f01d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
}
/* end-account.tpl*/
/* account-account */
.account-account #content .group-title-box{
    max-width: 300px;
    margin-bottom:20px; 
}
.account-account #content li a{
    border: none;
    border-radius:0;
    line-height: 30px;
}
.account-account #content ul.list-unstyled.decimal{
    border: 1px solid #ccc;
}
.account-account #content li a:hover{
    border: none;
    border-radius:0;
    color: #23a1d1;
    padding-left: 10px;
    background: #fff;
}
.account-account #content li a:hover:before {color: #23a1d1; }
.account-account #content li a:before {
    content: "\f01d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
}
/* end-account-account */

#accordion .panel.panel-default{
    border: 0;
}
#accordion .panel-heading{
    color: #333;
    background-color: #fff;
    border: 0;
    margin: 10px 0;
    padding: 0;
}
h4.module-title-box {
    background: #3b3d3d none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
    display: block;
}
#accordion .panel-heading .module-title-box a{color: #fff;}

/* checkout-cart */
.table-checkout-cart img.img-thumbnail{
    max-width: 100px;
}
.table-checkout-cart button.btn-remove {
    border: 0;
    background: #fff;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
    margin-top: 50%;
}
.table-checkout-cart button.btn-remove i{
    font-size: 18px;
    color: #f07b1d;
}
.table-checkout-cart .input-group .form-control[name^=quantity] {
    min-width: 50px;
    text-align: center;
    padding: 0 5px;
    border-radius: 0px;
    height: 40px;
}
.table-checkout-cart span.price-product,.table-checkout-cart span.total-price{
    color: #ff560b;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.table-checkout-cart  .form-quantity{
    position: relative;
    float: left;
}
.table-checkout-cart .btn-minus{
    position: absolute;
    top: 20px;
    right: 0;
}
.checkout-cart-buttons .button-checkout-cart,.checkout-cart-buttons .button-shopping,
.checkout-cart-buttons .button-update-cart{
    margin: 0 0 10px 0;
    float:left;
    display: block;
    width: 100%;
}
.checkout-cart-buttons .button-shopping:hover a,
.checkout-cart-buttons .button-update-cart:hover button,
.checkout-cart-buttons .button-checkout-cart:hover a{
    color: #fff;
    background: #ff560b;
}
.checkout-cart-buttons .button-shopping a,
.checkout-cart-buttons .button-update-cart button,
.checkout-cart-buttons .button-checkout-cart a{
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    text-shadow: none;
    background: #eeeeee;
    color: #999999;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
#accordion h3.module-title-box{
    line-height: 40px;
    font-size: 16px;
}
.checkout-cart-buttons {
    float: left;
    margin-top: 10px;
}
.box-show-price span.total-price{
    color: #ff560b;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.box-show-price .table.table-bordered tbody tr td{vertical-align: middle;}
/* end-checkout-cart */

/* media-reposive */
@media (max-width: 1199px){

}

@media (max-width: 1199px) and (min-width: 992px){
    .quick-access.fix-header{margin-right: -470px;}
}

@media (max-width: 991px){
    #logo { margin: 0 0 20px 0;  text-align: center; }
    #logo a{display: inline-block;}
    .OC_Category_Tabs_Slider_HeadPhone img.img-second,
    .OC_Category_Tabs_Slider_Smart_Phone img.img-second{display: none;}
    .occountdown_module .module-title h3 span,.ocnewproduct-title h3.module-title-box{    font-size: 16px;}
    #subscribe {    padding-right: 120px;}
}

@media (max-width: 991px) and (min-width: 768px){
    .ocnewproductslider .images-container{max-width: 100%;}
    .ocnewproductslider .des-container{padding-left: 10px;}
}

@media (max-width: 767px){
    header {    padding: 30px 0px 20px 0px;}
    .block-content-top .img{margin: 10px 0;}
    .row-our-brands img{display: inline-block;}
    #boxes.newsletter-popup, .b-modal {    display: none !important;}
    .top-menu{background: #36414D;}
    .testimonial-container {    margin: 30px 0;}
    #top .dropdown-menu{min-width: 100px;}
    .title-product-tabs ul.tabs li{padding: 0px 5px;}
    .title-product-tabs ul.tabs li h3{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
    }
}

@media (max-width: 767px) and (min-width: 480px){}
@media (max-width: 700px){
    .footer-powered p,.footer-powered .footer-payment {    width: 100%;    text-align: left;}
    div#top-links,.left-top {    width: 100%;    text-align: center;}
}
@media (max-width: 620px){
    div#top-links,.left-top {    width: 100%;    text-align: center;}
}
@media (max-width: 550px){
    
    .top-search-content {    width: 100%;    margin-bottom: 20px;padding-right: 0px;margin-right: 0px;}
    .top-cart-content {    float: left;    width: 100%;    text-align: center;}
    #cart {    
        display: inline-block;    
        float: none !important;
    }
    #cart .dropdown-menu{
        left: 50%;
        margin-left: -140px;
    }
    .product-filter .limit {    width: 100%;    margin-top: 5px;    text-align: center;}
}

@media (max-width: 479px){
    #frm_subscribe,#frm_subscribe_normal {
        width: 100%;
        margin-top: 20px;
        float: left;
        margin-bottom: 30px;
    }
    .newletter-subscribe ul.link-follow{    width: 100%;    padding: 0;}
    #cart .dropdown-menu {    margin-right: -70px;}
    .title-product-tabs ul.tabs li h3{        width: 100%;        float: none;        margin-top: 5px;    }
    .title-product-tabs ul.tabs{height: auto !important;}
    .title-product-tabs ul.tabs li{
        display: block;
        padding: 0px !important;
        margin: 0px !important;
    }
}

@media (max-width: 479px) and (min-width: 360px){}

@media (max-width: 360px){
    .title-product-tabs ul.tabs li h3{
        padding: 0 10px;
    }
}
@media (max-width: 340px){

    #top .top-account .dropdown-menu{top: 34px;}
     .hover-cate p span {    padding-left: 5px;}
    .footer-powered .footer-payment img{max-width: 100%;}
    .nav-tabs-products li a {    font-size: 12px !important;    padding: 0 20px !important;}
    .left-top li a{    padding: 15px 5px 15px 5px;}
    .right-top form .btn-group>button,.right-top .top-account{    padding: 15px 3px 15px 3px;}
}